# Dependencies
**/node_modules/

# Local databases and storage
**/data/
*.db
*.sqlite

# Production build artifacts
**/dist/

# Environment variables
**/.env
**/.env.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# stage 121
# stage 124